# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio files
win/vs22/.vs
win/vs22/server/.vs

# opensource library
library/rapidjson/rapidjson-1.1.0
library/cpprestsdk/cpprest-2.10.19_win
library/libsoda/win/vs22/x64
library/poco/poco_1.12.4_win

# release
library/libsoda/win/vs22/release
win/release/x64/server
win/vs22/server/x64/server
win/vs22/server/x64
release